<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Abel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
		{{{ body }}}

	<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Follow Us!</h5>
                    <p class="black-text text-lighten-4"><img src="assets/img/instagram.png" class="sm-icons"><img src="assets/img/facebook.png" class="sm-icons"><img src="assets/img/twitter.png" class="sm-icons"><img src="assets/img/pinterest.png" class="sm-icons"></p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="black-text text-lighten-3" href="/api">API</a></li>
                        <li><a class="black-text text-lighten-3" href="https://github.com/hmdroh/project2">GitHub Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
                <div class="container cp">
                        © 2018 LiveActive
                  </div>
            </div>
    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="assets/js/js.js"></script>
</html>
