<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#if page}}{{page.title}}{{else}}LiveActive{{/if}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Abel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <main>
		{{{ body }}}
    </main>
	<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h6>Follow Us</h6>
                    <p class="black-text text-lighten-4">
                        <a href="https://instagram.com" target="_blank">
                            <img src="assets/img/instagram.png" class="sm-icons">
                        </a>
                        <a href="https://facebook.com" target="_blank">
                            <img src="assets/img/facebook.png" class="sm-icons">
                        </a>
                        <a href="https://twitter.com" target="_blank">
                            <img src="assets/img/twitter.png" class="sm-icons">
                        </a>
                        <a href="https://pinterest.com" target="_blank">
                            <img src="assets/img/pinterest.png" class="sm-icons">
                        </a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="text-lighten-3" href="/api">LiveActive API</a></li>
                        <li><a class="text-lighten-3" href="https://github.com/hmdroh/project2">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
                <div class="container cp">
                        © 2018 LiveActive
                  </div>
            </div>
    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/js.js"></script>
<script type="text/javascript" src="assets/js/signup.js"></script>
<script type="text/javascript" src="assets/js/login.js"></script>

</html>
