    <nav>
        <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="/assets/img/003-wellness-logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/activities">Activities</a></li>
                <li>|</li>
                <li><a href="/eats">Healthy Eating</a></li>
                <li>|</li>
                <li><a href="/favorites">Favorites</a></li>
                <li>|</li>
                <li><a href="/signup">Sign-up</a></li>
                <li>|</li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/activities">Activities</a></li>
        <li><a href="/eats">Healthy Eating</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/signup">Sign-up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

<div class="wrapper">
    <div class=row>
        <div class="col s12 m6 l5">
            <div class="activity-info">
                <div class="title" id="title">
                    <h4>Sunday Morning Hike</h4>
                </div>
                <div class="date" id="date">
                    <h6>May 6 2018 8:30 AM</h6>
                </div>
                <div class="location" id="location">
                    <h6>Cowles Moutain, San Diego</h6>
                </div>
                <div class="description" id="description">
                    <p>Meeting Sunday morning for a fun little group hike. Hoping this can become a weekly thing!</p>
                </div>
                <i class="material-icons">favorite_border</i>
            </div>
        </div>

        <div class="col s12 m6 l5">
            <div class="map" id="map">
                <img src="/assets/img/samplemap.png">

            </div>
        </div>
    </div>
</div>