{{!-- {{> data/example sleep=false}} --}}
    <nav>
        <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="assets/img/003-wellness-logo.png"></a>
        <!-- <a href="#" class="brand-name">LiveActive</a> -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/activities">Activities</a></li>
                <li>|</li>
                <li><a href="/eats">Healthy Eating</a></li>
                <li>|</li>
                <li><a href="/signup">Sign-up</a></li>
                <li>|</li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/activities">Activities</a></li>
        <li><a href="/eats">Healthy Eating</a></li>
        <li><a href="/signup">Sign-up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    
        {{!-- <div class="slideshow-container">
                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                      <img src="assets/img/HealthWellness 2.jpg" style="width:100%">
                    </div>                    
        </div> --}}
        
         <div class="parallax-container">
            <div class="parallax"><img src="assets/img/HealthWellness 2.jpg" style="width:100%"></div>
            <div class="text-box">
                <div class="text">
                    <h3>LiveActive, together!</h3>
                </div>
            </div>
        </div>

        <div class="container" id="home-content">
            <h6>
                Achieving a healthy lifestyle is about much more than following a set diet and fitness plan. It’s about finding a healthy way of eating that’s also balanced enough to be achievable in the long-term, while combining the nutrition with a challenging yet enjoyable workout plan.
            </h6>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="assets/img/healthyfood.jpg" style="width:100%"></div>
        </div>