<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/img/HealthWellness 2.jpg" style="width:100%">
    </div>

    <div class="brand-name">
        <span>LiveActive</span>
    </div>

    <div class="text-box">
        <h4>Resources for Developing a Healthier Life</h4>
    </div>

    <div class="collage">
        <img src="/assets/img/collage.jpg">
    </div>
</div>

<div class="container" id="home-content">
    <h6>Achieving a healthy lifestyle is about much more than counting calories and following a monotonous fitness plan. It’s
        about combining balanced nutrition with challenging yet enjoyable activities that get your body moving.</h6>
    <br>
    <h5>Not sure where to start?</h5>
    <h5>LiveActive can help you reach your long-term health goals.</h5>
    <hr>
    <p>We have built a community centered around collaboration and mutal motiviation because we believe that we are stronger
        together.</p>
    <p></p>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/img/healthyfood.jpg" id="food-photo" style="width:100%">
    </div>
    <div class="text">
        <h2>Get Inspired</h2>
        <h2>Discover New Options</h2>
        <h2>Stay Motivated</h2>
    </div>
</div>