{{!-- {{> data/example sleep=false}} --}}
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="assets/img/003-wellness-logo.png"></a>
        <!-- <a href="#" class="brand-name">LiveActive</a> -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Activities</a></li>
                <li>|</li>
                <li><a href="#">Healthy Eating</a></li>
                <li>|</li>
                <li><a href="#">Sign-up</a></li>
                <li>|</li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Activities</a></li>
        <li><a href="#">Healthy Eating</a></li>
        <li><a href="#">Sign-up</a></li>
        <li><a href="#">Login</a></li>
    </ul>

    
        <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                      <img src="assets/img/fitness1.jpg" style="width:100%">
                    </div>
                  

                    <!-- <div class="mySlides fade">
                      <img src="assets/img/fitness4.jpg" style="width:100%">
                    </div> -->
                            
        </div>