    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="assets/img/003-wellness-logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Activities</a></li>
                <li>|</li>
                <li><a href="#">Healthy Eating</a></li>
                <li>|</li>
                <li><a href="#">Sign-up</a></li>
                <li>|</li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Activities</a></li>
        <li><a href="#">Healthy Eating</a></li>
        <li><a href="#">Sign-up</a></li>
        <li><a href="#">Login</a></li>
    </ul>