<div class="container" id="recipe">

  <div class="row">
    <div class="col s12 m6 l6">
      <h4>Sesame Salmon</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image">
          <img src="/assets/img/recipeimage.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <p>INGREDIENTS:</p>
      <ul>
        <li>1/4 cup olive oil</li>
        <li>2 tablespoons soy sauce</li>
        <li>2 tablespoons rice vinegar</li>
        <li>2 tablespoons sesame oil</li>
        <li>2 tablespoons brown sugar</li>
        <li>2 cloves garlic, pressed</li>
        <li>1 tablespoon grated fresh ginger</li>
        <li>1 tablespoon sesame seeds</li>
        <li>4 green onions, thinly sliced</li>
        <li>4 (5-ounce) salmon filets</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l12">
      <p>DIRECTIONS:</p>
      <p>1. To make the glaze, whisk together honey, soy sauce, sesame oil, Sriracha, ginger and sesame seeds in a small bowl;
        set aside.</p>
      <p>2. In a medium bowl, whisk together olive oil, soy sauce, rice vinegar, sesame oil, brown sugar, garlic, ginger, sesame
        seeds and green onions.</p>
      <p>3. In a gallon size Ziploc bag or large bowl, combine ginger marinade and salmon filets; marinate for at least 30 minutes
        to overnight, turning the bag occasionally.</p>
      <p>4. Preheat oven to 400 degrees F. Lightly coat a 9×13 baking dish with nonstick spray.</p>
      <p>5. Place salmon filets along with the marinade onto prepared baking dish and bake until the fish flakes easily with
        a fork, about 20 minutes.</p>
      <p>6. Serve salmon immediately with honey ginger glaze.</p>
    </div>
  </div>
</div>