<nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="assets/img/003-wellness-logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Activities</a></li>
                <li>|</li>
                <li><a href="#">Healthy Eating</a></li>
                <li>|</li>
                <li><a href="#">Sign-up</a></li>
                <li>|</li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Activities</a></li>
        <li><a href="#">Healthy Eating</a></li>
        <li><a href="#">Sign-up</a></li>
        <li><a href="#">Login</a></li>
    </ul>

    <div class="container">
        <div class="sign-up-form">
            <h4>Sign-up</h4>
            <br>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <h6>First Name</h6>
                        <input id="first_name" type="text" class="validate">
                    </div>
                    <div class="input-field col s6">
                        <h6>Last Name</h6>
                        <input id="last_name" type="text" class="validate">
                    </div>

                    <div class="input-field col s6">
                            <h6>Gender</h6>
                            <select class="gender">
                                <option value="" disabled selected>Select</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                    </div>

                    <div class="input-field col s6">
                            <h6>Age Range</h6>
                            <select class="age">
                                <option value="" disabled selected>Select</option>
                                <option value="12-17">12-17</option>
                                <option value="18-24">18-24</option>
                                <option value="25-34">25-34</option>
                                <option value="35-44">35-44</option>
                                <option value="45-54">45-54</option>
                                <option value="55-64">55-64</option>
                                <option value="65+">65+</option>
                            </select>
                    </div>




                    
                </div>
            </form>
        </div>
    </div>



{{!-- Passport code to modify  --}}
{{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div> --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
