    <nav>
        <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="assets/img/003-wellness-logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/activities">Activities</a></li>
                <li>|</li>
                <li><a href="/eats">Healthy Eating</a></li>
                <li>|</li>
                <li><a href="/favorites">Favorites</a></li>
                <li>|</li>
                <li><a href="/signup">Sign-up</a></li>
                <li>|</li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/activities">Activities</a></li>
        <li><a href="/eats">Healthy Eating</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/signup">Sign-up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    <div class="container" id="success-body">
        <h4>Thank you for joining LiveActive!</h4>
        <hr>
        <p>You now have full access to the site and the many activites and healthy eating recommendations we have to offer!</p>
    </div>