<div class="container" id="success-body">
    <h4>Thank you for joining LiveActive!</h4>
    <hr>
    <p>You now have full access to the site and the many activites and healthy eating recommendations we have to offer!</p>
</div>